@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');


.container {
  max-width: 1200px;
  margin: 0 auto;
}


body {
  background-color: rgb(249, 242, 232);
  font-family:monospace;
}